# Pandas

![logo](media\pandas.png)

In [1]:
import pandas as pd

## DataFrame

In [2]:
df1 = {
    'a': [1, 2, 3],
    'b': ['a', 'b', 'c'],
    'c': [.2, .3, .4]
}
pd.DataFrame(df1)

   a  b    c
0  1  a  0.2
1  2  b  0.3
2  3  c  0.4

In [3]:
df2 = [
    {'a': 1, 'b': 'a', 'c': .2},
    {'a': 2, 'b': 'b', 'c': .3},
    {'a': 3, 'b': 'c', 'c': .4}
]
pd.DataFrame(df2)

   a  b    c
0  1  a  0.2
1  2  b  0.3
2  3  c  0.4

In [4]:
df = pd.DataFrame(df2)
df.columns

Index(['a', 'b', 'c'], dtype='object')

In [5]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [6]:
df.T

     0    1    2
a    1    2    3
b    a    b    c
c  0.2  0.3  0.4

In [7]:
df['a'] # Series

0    1
1    2
2    3
Name: a, dtype: int64

In [8]:
type(df), type(df['a'])

(pandas.core.frame.DataFrame, pandas.core.series.Series)

In [9]:
df['a'][1], df['a'].at[1]

(2, 2)

## Loading data

In [10]:
import os

df = pd.read_csv(os.path.join('data', 'imdb.csv'))
df

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,https://m.media-amazon.com/images/M/MV5BNGEwMT...,Breakfast at Tiffany's,1961,A,115 min,"Comedy, Drama, Romance",7.6,A young New York socialite becomes interested ...,76.0,Blake Edwards,Audrey Hepburn,George Peppard,Patricia Neal,Buddy Ebsen,166544,NaN
996,https://m.media-amazon.com/images/M/MV5BODk3Yj...,Giant,1956,G,201 min,"Drama, Western",7.6,Sprawling epic covering the life of a Texas ca...,84.0,George Stevens,Elizabeth Taylor,Rock Hudson,James Dean,Carroll Baker,34075,NaN
997,https://m.media-amazon.com/images/M/MV5BM2U3Yz...,From Here to Eternity,1953,Passed,118 min,"Drama, Romance, War",7.6,"In Hawaii in 1941, a private is cruelly punish...",85.0,Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed,43374,"30,500,000"
998,https://m.media-amazon.com/images/M/MV5BZTBmMj...,Lifeboat,1944,NaN,97 min,"Drama, War",7.6,Several survivors of a torpedoed merchant ship...,78.0,Alfred Hitchcock,Tallulah Bankhead,John Hodiak,Walter Slezak,William Bendix,26471,NaN
999,https://m.media-amazon.com/images/M/MV5BMTY5OD...,The 39 Steps,1935,NaN,86 min,"Crime, Mystery, Thriller",7.6,A man in London tries to help a counter-espion...,93.0,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle,51853,NaN

In [11]:
df.to_csv(os.path.join('data', 'imdb_copy.csv'), index=False)

In [12]:
df = pd.read_csv(os.path.join('data', 'imdb_copy.csv'))
df

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,https://m.media-amazon.com/images/M/MV5BNGEwMT...,Breakfast at Tiffany's,1961,A,115 min,"Comedy, Drama, Romance",7.6,A young New York socialite becomes interested ...,76.0,Blake Edwards,Audrey Hepburn,George Peppard,Patricia Neal,Buddy Ebsen,166544,NaN
996,https://m.media-amazon.com/images/M/MV5BODk3Yj...,Giant,1956,G,201 min,"Drama, Western",7.6,Sprawling epic covering the life of a Texas ca...,84.0,George Stevens,Elizabeth Taylor,Rock Hudson,James Dean,Carroll Baker,34075,NaN
997,https://m.media-amazon.com/images/M/MV5BM2U3Yz...,From Here to Eternity,1953,Passed,118 min,"Drama, Romance, War",7.6,"In Hawaii in 1941, a private is cruelly punish...",85.0,Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed,43374,"30,500,000"
998,https://m.media-amazon.com/images/M/MV5BZTBmMj...,Lifeboat,1944,NaN,97 min,"Drama, War",7.6,Several survivors of a torpedoed merchant ship...,78.0,Alfred Hitchcock,Tallulah Bankhead,John Hodiak,Walter Slezak,William Bendix,26471,NaN
999,https://m.media-amazon.com/images/M/MV5BMTY5OD...,The 39 Steps,1935,NaN,86 min,"Crime, Mystery, Thriller",7.6,A man in London tries to help a counter-espion...,93.0,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle,51853,NaN

## Data Types

In [13]:
df.dtypes

Poster_Link       object
Series_Title      object
Released_Year     object
Certificate       object
Runtime           object
Genre             object
IMDB_Rating      float64
Overview          object
Meta_score       float64
Director          object
Star1             object
Star2             object
Star3             object
Star4             object
No_of_Votes        int64
Gross             object
dtype: object

In [14]:
df['No_of_Votes']

0      2343110
1      1620367
2      2303232
3      1129952
4       689845
        ...
995     166544
996      34075
997      43374
998      26471
999      51853
Name: No_of_Votes, Length: 1000, dtype: int64

In [15]:
df['No_of_Votes'] = df.No_of_Votes.astype(float)

In [16]:
df.No_of_Votes

0      2343110.0
1      1620367.0
2      2303232.0
3      1129952.0
4       689845.0
         ...
995     166544.0
996      34075.0
997      43374.0
998      26471.0
999      51853.0
Name: No_of_Votes, Length: 1000, dtype: float64

## Slicing

In [17]:
df.Meta_score > 90

0      False
1       True
2      False
3      False
4       True
       ...
995    False
996    False
997    False
998    False
999     True
Name: Meta_score, Length: 1000, dtype: bool

In [18]:
df[df.Meta_score > 90]

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367.0,"134,966,411"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845.0,"4,360,000"
5,https://m.media-amazon.com/images/M/MV5BNzA5ZD...,The Lord of the Rings: The Return of the King,2003,U,201 min,"Action, Adventure, Drama",8.9,Gandalf and Aragorn lead the World of Men agai...,94.0,Peter Jackson,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,1642758.0,"377,845,905"
6,https://m.media-amazon.com/images/M/MV5BNGNhMD...,Pulp Fiction,1994,A,154 min,"Crime, Drama",8.9,"The lives of two mob hitmen, a boxer, a gangst...",94.0,Quentin Tarantino,John Travolta,Uma Thurman,Samuel L. Jackson,Bruce Willis,1826188.0,"107,928,762"
7,https://m.media-amazon.com/images/M/MV5BNDE4OT...,Schindler's List,1993,A,195 min,"Biography, Drama, History",8.9,"In German-occupied Poland during World War II,...",94.0,Steven Spielberg,Liam Neeson,Ralph Fiennes,Ben Kingsley,Caroline Goodall,1213505.0,"96,898,818"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
875,https://m.media-amazon.com/images/M/MV5BMjAxMT...,Fantasia,1940,G,125 min,"Animation, Family, Fantasy",7.7,A collection of animated interpretations of gr...,96.0,James Algar,Samuel Armstrong,Ford Beebe Jr.,Norman Ferguson,David Hand,88662.0,"76,408,097"
881,https://m.media-amazon.com/images/M/MV5BMjg4Zm...,The Florida Project,2017,A,111 min,Drama,7.6,"Set over one summer, the film follows precocio...",92.0,Sean Baker,Brooklynn Prince,Bria Vinaite,Willem Dafoe,Christopher Rivera,95181.0,"5,904,366"
895,https://m.media-amazon.com/images/M/MV5BYTYxZj...,Leviafan,2014,R,140 min,"Crime, Drama",7.6,"In a Russian coastal town, Kolya is forced to ...",92.0,Andrey Zvyagintsev,Aleksey Serebryakov,Elena Lyadova,Roman Madyanov,Vladimir Vdovichenkov,49397.0,"1,092,800"
994,https://m.media-amazon.com/images/M/MV5BZjQyMG...,A Hard Day's Night,1964,U,87 min,"Comedy, Music, Musical",7.6,"Over two ""typical"" days in the life of The Bea...",96.0,Richard Lester,John Lennon,Paul McCartney,George Harrison,Ringo Starr,40351.0,"13,780,024"
999,https://m.media-amazon.com/images/M/MV5BMTY5OD...,The 39 Steps,1935,NaN,86 min,"Crime, Mystery, Thriller",7.6,A man in London tries to help a counter-espion...,93.0,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle,51853.0,NaN

In [19]:
df.loc[df.Meta_score > 90, 'Meta_score']

1      100.0
4       96.0
5       94.0
6       94.0
7       94.0
       ...
875     96.0
881     92.0
895     92.0
994     96.0
999     93.0
Name: Meta_score, Length: 132, dtype: float64

In [20]:
df.iloc[1:2, 2].at[1]

'1972'

## Summarize

In [21]:
df.head()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110.0,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367.0,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232.0,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952.0,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845.0,"4,360,000"

In [22]:
df.tail()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
995,https://m.media-amazon.com/images/M/MV5BNGEwMT...,Breakfast at Tiffany's,1961,A,115 min,"Comedy, Drama, Romance",7.6,A young New York socialite becomes interested ...,76.0,Blake Edwards,Audrey Hepburn,George Peppard,Patricia Neal,Buddy Ebsen,166544.0,NaN
996,https://m.media-amazon.com/images/M/MV5BODk3Yj...,Giant,1956,G,201 min,"Drama, Western",7.6,Sprawling epic covering the life of a Texas ca...,84.0,George Stevens,Elizabeth Taylor,Rock Hudson,James Dean,Carroll Baker,34075.0,NaN
997,https://m.media-amazon.com/images/M/MV5BM2U3Yz...,From Here to Eternity,1953,Passed,118 min,"Drama, Romance, War",7.6,"In Hawaii in 1941, a private is cruelly punish...",85.0,Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed,43374.0,"30,500,000"
998,https://m.media-amazon.com/images/M/MV5BZTBmMj...,Lifeboat,1944,NaN,97 min,"Drama, War",7.6,Several survivors of a torpedoed merchant ship...,78.0,Alfred Hitchcock,Tallulah Bankhead,John Hodiak,Walter Slezak,William Bendix,26471.0,NaN
999,https://m.media-amazon.com/images/M/MV5BMTY5OD...,The 39 Steps,1935,NaN,86 min,"Crime, Mystery, Thriller",7.6,A man in London tries to help a counter-espion...,93.0,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle,51853.0,NaN

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    1000 non-null   object
 1   Series_Title   1000 non-null   object
 2   Released_Year  1000 non-null   object
 3   Certificate    899 non-null    object
 4   Runtime        1000 non-null   object
 5   Genre          1000 non-null   object
 6   IMDB_Rating    1000 non-null   float64
 7   Overview       1000 non-null   object
 8   Meta_score     843 non-null    float64
 9   Director       1000 non-null   object
 10  Star1          1000 non-null   object
 11  Star2          1000 non-null   object
 12  Star3          1000 non-null   object
 13  Star4          1000 non-null   object
 14  No_of_Votes    1000 non-null   float64
 15  Gross          831 non-null    object
dtypes: float64(3), object(13)
memory usage: 125.1+ KB

In [24]:
df.describe()

       IMDB_Rating  Meta_score   No_of_Votes
count  1000.000000  843.000000  1.000000e+03
mean      7.949300   77.971530  2.736929e+05
std       0.275491   12.376099  3.273727e+05
min       7.600000   28.000000  2.508800e+04
25%       7.700000   70.000000  5.552625e+04
50%       7.900000   79.000000  1.385485e+05
75%       8.100000   87.000000  3.741612e+05
max       9.300000  100.000000  2.343110e+06

In [25]:
df.describe(include='object')

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,Overview,Director,Star1,Star2,Star3,Star4,Gross
count,1000,1000,1000,899,1000,1000,1000,1000,1000,1000,1000,1000,831
unique,1000,999,100,16,140,202,1000,548,660,841,891,939,823
top,https://m.media-amazon.com/images/M/MV5BMDFkYT...,Drishyam,2014,U,100 min,Drama,Two imprisoned men bond over a number of years...,Alfred Hitchcock,Tom Hanks,Emma Watson,Rupert Grint,Michael Caine,"4,360,000"
freq,1,2,32,234,23,85,1,14,12,7,5,4,5

## Transform

In [26]:
df.dtypes

Poster_Link       object
Series_Title      object
Released_Year     object
Certificate       object
Runtime           object
Genre             object
IMDB_Rating      float64
Overview          object
Meta_score       float64
Director          object
Star1             object
Star2             object
Star3             object
Star4             object
No_of_Votes      float64
Gross             object
dtype: object

In [27]:
import numpy as np

def nanint(x):
    
    try:
        return int(x)
    except ValueError:
        return np.nan


df['Released_Year'] = df['Released_Year'].apply(nanint)

In [28]:
df['Runtime'] = df.Runtime.apply(lambda x: int(x.replace(' min', '')))

In [29]:
def nangross(x):
    
    try:
        return int(x.replace(',', ''))
    except AttributeError:
        return np.nan

df['Gross'] = df.Gross.apply(nangross)

## Long/Wide Format

In [36]:
df_long = df.copy()
df_long['Genre'] = df['Genre'].apply(lambda x: x.split(', '))

In [37]:
df_long = df_long.explode('Genre')

In [38]:
df_long.pivot(columns='Genre')

                                             Poster_Link                      \
Genre                                             Action Adventure Animation
0                                                    NaN       NaN       NaN
1                                                    NaN       NaN       NaN
2      https://m.media-amazon.com/images/M/MV5BMTMxNT...       NaN       NaN
3                                                    NaN       NaN       NaN
4                                                    NaN       NaN       NaN
..                                                   ...       ...       ...
995                                                  NaN       NaN       NaN
996                                                  NaN       NaN       NaN
997                                                  NaN       NaN       NaN
998                                                  NaN       NaN       NaN
999                                                  NaN       NaN       NaN

                                                                    \
Genre Biography                                             Comedy
0           NaN                                                NaN
1           NaN                                                NaN
2           NaN                                                NaN
3           NaN                                                NaN
4           NaN                                                NaN
..          ...                                                ...
995         NaN  https://m.media-amazon.com/images/M/MV5BNGEwMT...
996         NaN                                                NaN
997         NaN                                                NaN
998         NaN                                                NaN
999         NaN                                                NaN

                                                          \
Genre                                              Crime
0                                                    NaN
1      https://m.media-amazon.com/images/M/MV5BM2MyNj...
2      https://m.media-amazon.com/images/M/MV5BMTMxNT...
3      https://m.media-amazon.com/images/M/MV5BMWMwMG...
4      https://m.media-amazon.com/images/M/MV5BMWU4N2...
..                                                   ...
995                                                  NaN
996                                                  NaN
997                                                  NaN
998                                                  NaN
999    https://m.media-amazon.com/images/M/MV5BMTY5OD...

                                                                         \
Genre                                              Drama Family Fantasy
0      https://m.media-amazon.com/images/M/MV5BMDFkYT...    NaN     NaN
1      https://m.media-amazon.com/images/M/MV5BM2MyNj...    NaN     NaN
2      https://m.media-amazon.com/images/M/MV5BMTMxNT...    NaN     NaN
3      https://m.media-amazon.com/images/M/MV5BMWMwMG...    NaN     NaN
4      https://m.media-amazon.com/images/M/MV5BMWU4N2...    NaN     NaN
..                                                   ...    ...     ...
995    https://m.media-amazon.com/images/M/MV5BNGEwMT...    NaN     NaN
996    https://m.media-amazon.com/images/M/MV5BODk3Yj...    NaN     NaN
997    https://m.media-amazon.com/images/M/MV5BM2U3Yz...    NaN     NaN
998    https://m.media-amazon.com/images/M/MV5BZTBmMj...    NaN     NaN
999                                                  NaN    NaN     NaN

                 ...  Gross                                                 \
Genre Film-Noir  ... Horror Music Musical Mystery     Romance Sci-Fi Sport
0           NaN  ...    NaN   NaN     NaN     NaN         NaN    NaN   NaN
1           NaN  ...    NaN   NaN     NaN     NaN         NaN    NaN   NaN
2           NaN  ...    NaN   NaN     NaN     NaN         NaN    NaN   NaN
3           NaN  ...    NaN   NaN     NaN     NaN         NaN    NaN   NaN
4           NaN  ...    NaN   NaN     NaN     NaN         NaN    NaN   NaN
..          ...  ...    ...   ...     ...     ...         ...    ...   ...
995         NaN  ...    NaN   NaN     NaN     NaN         NaN    NaN   NaN
996         NaN  ...    NaN   NaN     NaN     NaN         NaN    NaN   NaN
997         NaN  ...    NaN   NaN     NaN     NaN  30500000.0    NaN   NaN
998         NaN  ...    NaN   NaN     NaN     NaN         NaN    NaN   NaN
999         NaN  ...    NaN   NaN     NaN     NaN         NaN    NaN   NaN


Genre Thriller         War Western
0          NaN         NaN     NaN
1          NaN         NaN     NaN
2          NaN         NaN     NaN
3          NaN         NaN     NaN
4          NaN         NaN     NaN
..         ...         ...     ...
995        NaN         NaN     NaN
996        NaN         NaN     NaN
997        NaN  30500000.0     NaN
998        NaN         NaN     NaN
999        NaN         NaN     NaN

[1000 rows x 315 columns]

In [39]:
df.Genre.str.get_dummies(sep=', ')

,Action,Adventure,Animation,Biography,Comedy,Crime,Drama,Family,Fantasy,Film-Noir,...,Horror,Music,Musical,Mystery,Romance,Sci-Fi,Sport,Thriller,War,Western
0,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0,0,0,0,1,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
996,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
997,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
998,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
999,0,0,0,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0

In [40]:
df_with_one_hot = pd.concat([df.drop(columns=['Genre']), df.Genre.str.get_dummies(sep=', ')], axis=1)

In [41]:
df_with_one_hot.head()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,IMDB_Rating,Overview,Meta_score,Director,Star1,...,Horror,Music,Musical,Mystery,Romance,Sci-Fi,Sport,Thriller,War,Western
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994.0,A,142,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,...,0,0,0,0,0,0,0,0,0,0
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972.0,A,175,9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,...,0,0,0,0,0,0,0,0,0,0
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008.0,UA,152,9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,...,0,0,0,0,0,0,0,0,0,0
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974.0,A,202,9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,...,0,0,0,0,0,0,0,0,0,0
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957.0,U,96,9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,...,0,0,0,0,0,0,0,0,0,0

## Nulls

In [45]:
df.isna().sum()

Poster_Link        0
Series_Title       0
Released_Year      1
Certificate      101
Runtime            0
Genre              0
IMDB_Rating        0
Overview           0
Meta_score       157
Director           0
Star1              0
Star2              0
Star3              0
Star4              0
No_of_Votes        0
Gross            169
dtype: int64

In [46]:
df.loc[df.Gross.isna(), 'Gross']

18    NaN
20    NaN
30    NaN
32    NaN
46    NaN
       ..
993   NaN
995   NaN
996   NaN
998   NaN
999   NaN
Name: Gross, Length: 169, dtype: float64

In [47]:
df.dropna(inplace=True)

In [48]:
df.isna().sum()

Poster_Link      0
Series_Title     0
Released_Year    0
Certificate      0
Runtime          0
Genre            0
IMDB_Rating      0
Overview         0
Meta_score       0
Director         0
Star1            0
Star2            0
Star3            0
Star4            0
No_of_Votes      0
Gross            0
dtype: int64

In [ ]:
# df.fillna

In [49]:
df.dtypes

Poster_Link       object
Series_Title      object
Released_Year    float64
Certificate       object
Runtime            int64
Genre             object
IMDB_Rating      float64
Overview          object
Meta_score       float64
Director          object
Star1             object
Star2             object
Star3             object
Star4             object
No_of_Votes      float64
Gross            float64
dtype: object

In [52]:
df['Gross'] = df.Gross.astype(int)
df['Released_Year'] = df.Released_Year.astype(int)
df['Meta_score'] = df.Meta_score.astype(int)
df['No_of_Votes'] = df.No_of_Votes.astype(int)

In [53]:
df.dtypes

Poster_Link       object
Series_Title      object
Released_Year      int32
Certificate       object
Runtime            int64
Genre             object
IMDB_Rating      float64
Overview          object
Meta_score         int32
Director          object
Star1             object
Star2             object
Star3             object
Star4             object
No_of_Votes        int32
Gross              int32
dtype: object

## Group

In [57]:
df.groupby('Certificate').mean()

,Released_Year,Runtime,IMDB_Rating,Meta_score,No_of_Votes,Gross
Certificate,,,,,,
A,1993.385057,129.034483,8.001149,78.011494,472140.402299,6.603609e+07
Approved,1946.666667,124.666667,8.016667,84.833333,92205.833333,6.949014e+06
G,1960.333333,115.000000,8.022222,86.333333,142668.777778,5.508732e+07
GP,1970.000000,144.000000,7.600000,50.000000,45338.000000,1.378435e+06
PG,1984.789474,111.947368,7.905263,81.421053,126296.000000,2.015480e+07
PG-13,2005.263158,112.210526,7.784211,75.000000,155005.526316,3.780400e+07
Passed,1947.555556,124.666667,8.044444,89.222222,88852.444444,8.609353e+06
R,2001.580153,121.091603,7.866412,74.335878,230302.763359,2.653840e+07
TV-PG,2009.000000,119.000000,8.000000,87.000000,45803.000000,1.066620e+05
U,1991.390110,121.329670,7.960989,78.763736,307938.939560,9.418960e+07
U/A,2018.000000,102.000000,7.600000,71.000000,140840.000000,2.602096e+07
UA,2005.014085,127.711268,7.929577,75.161972,524544.697183,1.500956e+08

In [61]:
df.groupby('Certificate', as_index=False).size()

   Certificate  size
0            A   174
1     Approved     6
2            G     9
3           GP     1
4           PG    19
5        PG-13    38
6       Passed     9
7            R   131
8        TV-PG     1
9            U   182
10         U/A     1
11          UA   142

In [59]:
pd.pivot_table(df_long, values='Gross', index='Genre', columns='Certificate', aggfunc=np.mean)

Certificate,A,Approved,G,GP,PG,PG-13,Passed,R,TV-PG,U,U/A,UA,Unrated
Genre,,,,,,,,,,,,,
Action,7.515318e+07,4.905000e+06,39100000.0,NaN,2.019520e+07,8.909449e+07,4.848757e+06,7.284177e+07,NaN,1.789343e+08,NaN,2.104812e+08,NaN
Adventure,9.506136e+07,4.905000e+06,NaN,1378435.0,1.665363e+07,8.717598e+07,5.374474e+06,9.144549e+07,NaN,1.638570e+08,NaN,2.735355e+08,NaN
Animation,2.640713e+07,NaN,147687858.5,NaN,1.666656e+07,5.552530e+06,NaN,2.892011e+06,NaN,1.593380e+08,NaN,1.233030e+08,NaN
Biography,7.137022e+07,NaN,177345.0,NaN,4.464192e+07,3.410493e+07,2.187700e+04,3.629878e+07,NaN,4.804834e+07,NaN,8.525358e+07,NaN
Comedy,6.568940e+07,4.360000e+06,16162039.0,1378435.0,1.102654e+07,1.903925e+07,4.020363e+06,3.118658e+07,NaN,1.085991e+08,NaN,7.330219e+07,300000.0
Crime,5.452286e+07,NaN,NaN,39481.0,5.396314e+07,2.237659e+06,4.096292e+06,1.892560e+07,NaN,5.287292e+07,NaN,5.332467e+07,NaN
Drama,6.195293e+07,1.065996e+07,24540213.0,39481.0,2.068180e+07,2.587071e+07,6.111769e+06,2.034691e+07,106662.0,4.950849e+07,26020957.0,8.854190e+07,300000.0
Family,2.959833e+08,NaN,80664093.8,NaN,1.670788e+07,NaN,5.450000e+06,NaN,NaN,8.935113e+07,NaN,2.959861e+08,NaN
Fantasy,1.132671e+08,NaN,147687858.5,NaN,1.229197e+06,5.681666e+07,NaN,5.397630e+06,NaN,6.797784e+07,NaN,2.487671e+08,NaN
Film-Noir,7.630000e+06,2.209542e+06,NaN,NaN,NaN,2.237659e+06,6.520000e+06,NaN,NaN,1.046400e+07,NaN,NaN,NaN
History,7.014641e+07,NaN,39100000.0,NaN,1.244002e+07,2.183146e+07,3.843850e+04,3.528077e+07,NaN,7.856569e+07,NaN,8.561036e+07,NaN
Horror,4.821009e+07,NaN,NaN,NaN,NaN,9.652269e+07,7.025000e+06,6.536487e+07,NaN,NaN,NaN,3.477162e+07,NaN
Music,6.402282e+07,NaN,NaN,NaN,NaN,2.320766e+07,2.537520e+06,9.414252e+06,NaN,1.523513e+07,NaN,7.698125e+07,NaN
Musical,4.029434e+07,NaN,44659514.0,NaN,NaN,NaN,2.537520e+06,NaN,NaN,1.410619e+07,NaN,5.801008e+06,NaN
Mystery,6.714961e+07,2.404596e+06,NaN,39481.0,4.081254e+06,1.022940e+08,3.642959e+06,3.446772e+07,106662.0,1.711268e+07,26020957.0,4.418089e+07,NaN
Romance,5.670166e+07,1.079000e+07,4419104.5,NaN,9.455496e+06,3.008759e+07,8.572583e+06,1.311094e+07,NaN,3.005006e+07,NaN,1.285769e+08,300000.0
Sci-Fi,6.567778e+07,NaN,NaN,NaN,NaN,2.551452e+07,1.000000e+07,2.846323e+07,NaN,1.508745e+08,NaN,2.254122e+08,NaN
Sport,4.714519e+07,NaN,NaN,NaN,9.339330e+05,7.560549e+07,NaN,3.408386e+07,NaN,3.480904e+07,NaN,9.799248e+07,NaN
Thriller,7.354329e+07,4.491910e+05,NaN,NaN,6.765627e+06,1.319843e+08,2.039438e+06,2.896573e+07,NaN,3.813545e+07,26020957.0,8.034391e+07,NaN
War,8.803052e+07,2.365000e+07,NaN,1378435.0,2.280234e+07,9.030581e+06,1.539424e+07,5.913771e+07,NaN,1.493463e+07,NaN,2.213200e+07,NaN
Western,6.398962e+07,4.905000e+06,NaN,NaN,5.073345e+06,1.712430e+08,8.774500e+06,NaN,NaN,6.817679e+07,NaN,NaN,NaN

In [75]:
pd.merge(df, df, left_on='Director', right_on='Star1', how='outer')[['Director_x', 'Director_y', 'Series_Title_x', 'Series_Title_y']]

,Director_x,Director_y,Series_Title_x,Series_Title_y
0,Frank Darabont,NaN,The Shawshank Redemption,NaN
1,Frank Darabont,NaN,The Green Mile,NaN
2,Francis Ford Coppola,NaN,The Godfather,NaN
3,Francis Ford Coppola,NaN,The Godfather: Part II,NaN
4,Francis Ford Coppola,NaN,Apocalypse Now,NaN
...,...,...,...,...
1475,NaN,Robert Altman,NaN,The Long Goodbye
1476,NaN,Sergio Leone,NaN,Giù la testa
1477,NaN,Wolfgang Reitherman,NaN,The Jungle Book
1478,NaN,Richard Lester,NaN,A Hard Day's Night
1479,NaN,Fred Zinnemann,NaN,From Here to Eternity